.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #fff;
  border-bottom: 1px solid white;
  height: 75px;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%), 0 2px 4px -1px rgb(0 0 0 / 30%);
}

.header img {
  height: 100%;
  width: auto;
}

.linksWrapper {
  margin: auto 0;
}

.linksWrapper a {
  padding: 5px;
}