.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #336699;
  color: white;
  /* border-top: 1px solid white; */
  background-image: 
    /* linear-gradient(top, #2a527b, transparent 5px),  */
    /* linear-gradient(left, #2a527b, transparent 10px),  */
    linear-gradient(right, #2a527b, transparent 10px);
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 18px 24px;
  align-content: center;
  align-items: center;
  margin: 0 0 2px 2px;
  border-bottom: 1px solid white;
}

.filter div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filter span {
  width: 100%;
  margin-bottom: 6px;
}

.filter label {
  min-width: min-content;
  width: 40%;
  margin: 6px 0;
}

.filter select {
  width: 60%;
  margin: auto;
  flex-direction: row;
}

.sticky {
  position: sticky;
  top: 125px;
  /* border-top: 1px solid white; */
}

.results {
  width: 100%;
  padding: 0 18px;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  /* background-image:  */
  /* linear-gradient(top, #2a527b, transparent 5px),  */
  /* linear-gradient(left, #2a527b, transparent 10px),  */
  /* linear-gradient(bottom, rgb(0 0 0 / 30%), transparent 5px); */
}

.results::-webkit-scrollbar {
  display: none;
}

.controlsRow {
  display: flex;
  justify-content: flex-start;
  background-color: #336699;
  width: 100%;
  padding: 12px 24px;
  /* border-bottom: 1px solid white; */
  position: sticky;
  top: 75px;
  z-index: 100;
  color: white;
  box-shadow: 
    0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 30%);
  /* background-image:
    linear-gradient(top,  #2a527b, transparent 5px),
    linear-gradient(right,  #2a527b, transparent 10px),
    linear-gradient(bottom,  #2a527b, transparent 5px),
    linear-gradient(left,  #2a527b, transparent 10px); */
}

.controlSearch {
  width: 19vw;
  padding: 0 18px;
  margin: 0 2% 0 0;
}

.controlSort {
  margin: 0 auto 0 0;
}

.controlPagination {
  margin: 0 auto;
}

.controlPageSize {
  margin: 0 0 0 auto;
}

.controlItemLeft {
  margin-left: 0;
  align-self: flex-start;
}

.item {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  margin: auto 0;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 2% 5% 2% 0;
  margin: 5px 0;
  position: relative;
}

.itemHeading {
  flex: 2;
}

.itemScore {
  flex: 1;
  padding: 0 12px;
}

.button {
  background-color: #096;
  height: 32px;
  display: block;
  line-height: 32px;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
  width: 144px;
  font-size: 12px;
  border: 0 solid red;
  border-radius: 2px;
  background-image: none;
}

.item > div > div {
  display: flex;
  flex-direction: row;
}

.category {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}