html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a, .link {
  color: #336699;
  text-decoration: underline;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

select::-ms-expand {
  display: none;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

button {
  min-height: 26.6px;
  padding: 4px 12px!important;
}

select, input, button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 5px;
  width: max-content;
  min-width: 0ch;
  border: 1px solid #777;
  border-radius: 0.2em;
  padding: 0.25em 0.5em;
  font-size: 14px;
  cursor: pointer;
  line-height: 0.5;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}